body {
  background-color: #063c55 !important;
  height: 100%;
  margin: 0;
  padding: 5;
  height: 100vh; height: calc(var(--vh, 1vh) * 100);

}
.signup_btn {
  width: 90%;

  background: #1ace0a !important;
  color: rgb(15, 15, 15) !important;
  border-radius: 20px;
  font-weight: 500;
}
.container-sm{
  display: flex;
  align-items: center;
  justify-content:center
}

.description {
  margin-right: 10px;
}

.description label {
  margin: 0;
  margin-right: 10px;
}
label {
  display: block;
  color: #e3edf1;
}

.toggle-container {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 40px;
  pointer-events: none;
}
.toggle-container input {
  opacity: 0;
  width: 100%;
  height: 100%;
  pointer-events: all;
}
.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  background-color: #808080;
  transition: 0.4s;
  pointer-events: none;
}
.slider::before {
  content: "";
  position: absolute;
  height: 24px;
  width: 24px;
  left: 8px;
  bottom: 8px;
  background-color: #fff;
  transition: 0.2s;
  pointer-events: none;
}
.slider::after {
  position: absolute;
  height: 24px;
  width: 24px;
  right: 10px;
  bottom: 6px;
  transition: 0.2s;
  pointer-events: none;
  color: #fff;
}
input:checked + .slider {
  background-color: #38df0e;
}
input:checked + .slider:before {
  transform: translateX(40px);
}
input:checked + .slider:after {

  left: 8px;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


